<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"></context:property-placeholder>

     <bean
            id="userAddress"
            class="com.nvv.spring.model.Address">
             <constructor-arg name="streetName" value="${address.streetName}"/>
             <constructor-arg name="buildNumber" value="${address.buildNumber}"/>
             <constructor-arg name="flatNumber" value="${address.flatNumber}"/>
    </bean>
    <bean
        id="curUser"
        class="com.nvv.spring.model.User">
        <property name="firstName" value="${user.firstName}"></property>
        <property name="lastName" value="${user.lastName}"></property>
        <property name="phone" value="${user.phone}"></property>
        <property name="address" ref="userAddress"></property>
    </bean>


</beans>